* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Começa com ^= */
[meu-atributo^='v'] {
    color: red;
}

body {
    font-family: sans-serif ;
    font-size: 26px;
}


.grid {
    display: grid;
    max-width: 1200px;
    margin: 80px auto;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 30px;
}

.grid div {
    background-color: cadetblue;
    min-height: 100px;
}

@media (max-width: 321px) {
    .grid {
        justify-items: center;
    }

    .grid div {
        width: 300px;
    }
}